{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "env": {
    "browser": true
  },

  "globals": {
    "process": true
  },

  "rules": {
    "indent": [ "error", 2 ],
    "semi": [ 2, "always" ],
    "consistent-return": 2,
    "arrow-parens": [ 2, "as-needed" ],
    "no-console": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"]
  }
}
